---
import Link from "../Link.astro"
---

<!-- <header> -->
  <nav class="mainNav">
    <div class="mainNav__container">
      <!-- <Link href="/">Home</Link> -->
      <Link href="/about">About</Link>
      <Link href="/skills">Skills</Link>
      <Link href="/projects">Projects</Link>
      <Link href="/blog">Blog</Link>
    </div>
    <!-- <a href="/">Home</a> -->
    <!-- <a href="/about">About</a> -->
    <!-- <a href="/tutorial">Tutorial</a> -->
  </nav>
<!-- </header> -->