---
const { desc } = Astro.props;
---


<div class="paginate">
  <div>{desc}</div>
</div>


<!-- <style>
  a {
    color: blue;
  }
</style> -->

<script>
  // whenever an anchor tag is clicked do something
  // const anchorLinks = document.querySelectorAll("a");

  // anchorLinks.forEach(a => {
  //   a.addEventListener("click", () => {
  //     console.log("clicked!");
  //   });
  // });
</script>