---
import PostHeader from "../components/headers/PostHeader.astro";
import MainLayout from "./MainLayout.astro";
// import { slugify, dateFormatter } from "../lib/utils";
import Paginate from "../components/Paginate.astro";
import { formatDatePretty, formatDateNumeric } from "../lib/utils";

const layoutTitle = "MC | Blog";

const { posts } = Astro.props;
// get the three most recent posts
const recentPosts = posts
  .sort((a, b) => new Date(b.data.published) - new Date(a.data.published))
  .slice(0, 3);
---


<!-- <MainLayout {layoutTitle} > -->
  <section class="blog">
    <div class="blog__header">
      <h1>Welcome to My Blog</h1>
    </div>
    <div class="blog__content">
      <div class="blog__left-column">
        <div class="blog__list">
          <slot />
        </div>
      </div>
      <div class="blog__right-column">

        <div class="blog__sidebar">
          <div class="blog__recent-posts">
            <div class="blog__recent-posts-header">
              <h3>Recent Posts</h3>
              <div class="blog__recent-posts-list">
                {recentPosts.map((post) => (
                  <div class="blog__recent-post-item 1">
                    <div class="blog__recent-post-title">
                      <h4>{post.data.title}</h4>
                    </div>
                    <div class="blog__recent-post-info">
                      <div class="blog__recent-post-author">
                        <span>Theodore McKinley</span>
                      </div>
                      <div class="blog__recent-post-date">
                        <span>{formatDateNumeric(post.data.published)}</span>
                      </div>
                    </div>
                  </div>
                ))}
              </div>  
            </div>
          </div>
        </div>
        <div class="blog__ad-spot">Ad goes here.</div>
      </div>
    </div>
    <div class="blog__paginate">
      <Paginate desc="Hello World!" />
    </div>
  </section>